<a href="https://colab.research.google.com/github/ogut77/estat.me/blob/main/Chapter3R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# read the data file
url='https://raw.githubusercontent.com/ogut77/DataScience/refs/heads/main/PurchaseByCredit40.csv'
card <- read.csv(url, header=TRUE, as.is=FALSE)

In [ ]:
card

   id Gender Age Income Credit Purchase
1   1 male   20s LT2000 Fair   Yes
2   2 female 30s GE2000 Good   No
3   3 female 20s GE2000 Fair   No
4   4 female 20s GE2000 Fair   Yes
5   5 female 20s LT2000 Bad    No
6   6 female 30s GE2000 Fair   No
7   7 female 30s GE2000 Good   Yes
8   8 male   20s LT2000 Fair   No
9   9 female 20s GE2000 Good   No
10 10 male   30s GE2000 Fair   Yes
11 11 female 30s GE2000 Good   Yes
12 12 female 20s LT2000 Fair   No
13 13 male   30s GE2000 Fair   No
14 14 male   30s LT2000 Fair   Yes
15 15 female 30s GE2000 Good   Yes
16 16 female 30s GE2000 Fair   No
17 17 female 20s GE2000 Bad    No
18 18 male   20s GE2000 Bad    No
19 19 male   30s GE2000 Good   Yes
20 20 male   20s LT2000 Fair   No
21 21 male   20s LT2000 Fair   Yes
22 22 female 30s GE2000 Good   No
23 23 female 20s GE2000 Fair   No
24 24 female 20s GE2000 Fair   Yes
25 25 female 20s LT2000 Bad    No
26 26 female 30s GE2000 Fair   No
27 27 female 30s GE2000 Good   Yes
28 28 male   20s LT2000 Fair   No
29 29 female 20s GE2000 Good   No
30 30 male   30s GE2000 Fair   Yes
31 31 female 30s GE2000 Good   Yes
32 32 female 20s LT2000 Fair   No
33 33 male   30s GE2000 Fair   No
34 34 male   30s LT2000 Fair   Yes
35 35 female 30s GE2000 Good   Yes
36 36 female 30s GE2000 Fair   No
37 37 female 20s GE2000 Bad    No
38 38 male   20s GE2000 Bad    No
39 39 male   30s GE2000 Good   Yes
40 40 male   20s LT2000 Fair   No

In [ ]:
attach(card)

The following objects are masked from card (pos = 6):

    Age, Credit, Gender, id, Income, Purchase

In [ ]:
# 1 dim frequency table
table(Gender)

Gender
female   male
    24     16

In [ ]:
# 2 dim frequency table
table(Gender,Purchase)

        Purchase
Gender   No Yes
  female 16   8
  male    8   8

In [ ]:
# 3 dim frequency table
table(Gender,Age,Purchase)

, , Purchase = No

        Age
Gender   20s 30s
  female  10   6
  male     6   2

, , Purchase = Yes

        Age
Gender   20s 30s
  female   2   6
  male     2   6

In [ ]:
# Load the iris dataset (it's built-in)
data(iris)

# Display the first few rows
head(iris)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

In [ ]:
attach(iris)

The following objects are masked from iris (pos = 5):

    Petal.Length, Petal.Width, Sepal.Length, Sepal.Width, Species

In [ ]:
#Mean
mean(Sepal.Length)

[1] 5.843333

In [ ]:
#Median
median(Sepal.Length)

[1] 5.8

In [ ]:
#Variance
var(Sepal.Length)

[1] 0.6856935

In [ ]:
#Standard Deviation
sd(Sepal.Length)

[1] 0.8280661

In [ ]:
#Range
range(Sepal.Length)

[1] 4.3 7.9

In [ ]:
# summary of basic statistics
summary(iris)

  Sepal.Length    Sepal.Width     Petal.Length    Petal.Width
 Min.   :4.300   Min.   :2.000   Min.   :1.000   Min.   :0.100
 1st Qu.:5.100   1st Qu.:2.800   1st Qu.:1.600   1st Qu.:0.300
 Median :5.800   Median :3.000   Median :4.350   Median :1.300
 Mean   :5.843   Mean   :3.057   Mean   :3.758   Mean   :1.199
 3rd Qu.:6.400   3rd Qu.:3.300   3rd Qu.:5.100   3rd Qu.:1.800
 Max.   :7.900   Max.   :4.400   Max.   :6.900   Max.   :2.500
       Species
 setosa    :50
 versicolor:50
 virginica :50