<a href="https://colab.research.google.com/github/ogut77/estat.me/blob/main/Chapter7_4_3_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Neural Network**

In [ ]:
 install.packages('nnet')
 library(nnet)
 library(readr)
 singleNNdata <- read.csv('https://raw.githubusercontent.com/ogut77/DataScience/refs/heads/main/singleNN.csv')

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:
attach(singleNNdata)

In [ ]:
 singleNNdata

  x1 x2 x3 y
1 0  0  0  -1
2 0  0  1  -1
3 0  1  0  -1
4 0  1  1   1
5 1  0  0  -1
6 1  0  1   1
7 1  1  0   1
8 1  1  1   1

In [ ]:
# create a training data using the 8 data.
train <- singleNNdata[1:8,]
# create a testing data using the same 8 data
test <- singleNNdata[1:8,]
train.nnet <- nnet(y~x1+x2+x3,data=train, size=2, rang=0.1, decay=5e-4, maxit=100)
summary(train.nnet)

# weights:  11
initial  value 9.945813
iter  10 value 7.902015
iter  20 value 6.775085
iter  30 value 4.152398
iter  40 value 4.130085
iter  50 value 4.129914
iter  60 value 4.129832
iter  70 value 4.129705
iter  80 value 4.129659
iter  90 value 4.129641
iter 100 value 4.129632
final  value 4.129632
stopped after 100 iterations

a 3-2-1 network with 11 weights
options were - decay=5e-04
 b->h1 i1->h1 i2->h1 i3->h1
  4.22  -3.11  -3.11  -3.11
 b->h2 i1->h2 i2->h2 i3->h2
  3.99  -2.97  -2.96  -2.97
 b->o h1->o h2->o
 4.61 -7.50 -7.02

In [ ]:
predict(train.nnet,test)
nnetpred <- (predict(train.nnet,test) >= 0.01)

  [,1]
1 6.327925e-05
2 2.057801e-03
3 2.038969e-03
4 9.446234e-01
5 2.074247e-03
6 9.451265e-01
7 9.448574e-01
8 9.891801e-01

In [ ]:
table(nnetpred,y)

        y
nnetpred -1 1
   FALSE  4 0
   TRUE   0 4