<a href="https://colab.research.google.com/github/ogut77/estat.me/blob/main/Chapter7_2_1_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

customer <- read_csv('https://raw.githubusercontent.com/ogut77/DataScience/refs/heads/main/PurchaseByCredit20_Continuous.csv')
customer

Rows: 20 Columns: 3
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): Purchase
dbl (2): Age, Income

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

   Age Income Purchase
1  25  150    Yes
2  34  220    No
3  27  210    No
4  28  250    Yes
5  21  100    No
6  31  220    No
7  36  300    Yes
8  20  100    No
9  29  220    No
10 32  250    Yes
11 37  400    Yes
12 24  120    No
13 33  350    No
14 30  180    Yes
15 38  350    Yes
16 32  250    No
17 28  240    No
18 22  220    No
19 39  450    Yes
20 26  150    No

In [ ]:
attach(customer)

In [ ]:
Purchase

In [ ]:
customer$Purchase <- ifelse(customer$Purchase == "Yes", 1, 0)


# Train a logistic regression model
logitmodel <- glm(Purchase ~ ., data = customer, family = binomial)
logitmodel

Call:  glm(formula = Purchase ~ ., family = binomial, data = customer)

Coefficients:
(Intercept)          Age       Income
  -7.629959     0.223517     0.001918

Degrees of Freedom: 19 Total (i.e. Null);  17 Residual
Null Deviance:	    26.92
Residual Deviance: 20.68 	AIC: 26.68